<h1>Every Gym Everywhere All at Once</h1>
<a href="/gyms/">Every Gym Everywhere</a>
<a href="/members/">Every Member Everywhere</a>
<% @gyms.each do |gym| %>
  <h3>Gym Name: <%= gym.name %></h2>
  <p>Created At: <%= gym.created_at %></p>
<% end %>