<h1>Every Member Everywhere All at Once</h1>
<a href="/gyms/">Every Gym Everywhere</a>
<a href="/members/">Every Member Everywhere</a>
<% @members.each do |member| %>
  <h2>Member Name: <%= member.name %></h2>
  <p>Money Spent: $<%= member.money_spent %></p>
  <p>Resident of CO?: <%= member.co_resident %></p>
  <p>Member of: <%= member.gym_id %></p>
<% end %>